<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ofimatic.ars" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ofimatic.ars.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ofimatic.ars.ReaderActivity"
            android:label="@string/title_activity_reader" >
        </activity>
        <activity
            android:name="com.ofimatic.ars.ReaderOnlineActivity"
            android:label="@string/title_activity_reader_online" >
        </activity>
        <activity
            android:name="com.ofimatic.ars.ResultActivity"
            android:label="@string/title_activity_result" >
        </activity>
    </application>

</manifest>
